body{
    background-color: #f2f3f5;
}

.navbar-nav{
    background-color: burlywood;
    color: #bc2f3d;  
}
.nav-link{
        background-color: #1a222f;
        border: #f2f3f5 solid 3px;
        border-radius:19%;
        color: white;    
}
#im{
    width:100%; 
    height: 100%;
    }
html,body{
    height: 100%;
    font-size: 1rem;
}

.card{
    background-color: red;
    padding: 40px 20px;
    text-align: justify;
    }
    
